@model Inscripcion_Universidad.Models.Dominio.Materia

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Desea Eliminar?</h3>
<div>
    <h4>Materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Carrera.NombreCarrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrera.NombreCarrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMateria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMateria)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
