
@{
    ViewBag.Title = "Administradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administradores</h2>
<p><a href="@Url.Action("Index", "Carreras")" class="btn btn-primary">Administrar Carreras</a></p>

<p><a href="@Url.Action("Index", "Materia")" class="btn btn-primary">Administrar Materias</a></p>

<p><a href="@Url.Action("Index", "Correlativas")" class="btn btn-primary">Administrar Correlativas</a></p>

<p><a href="@Url.Action("Index", "MateriaPorCorrelativas")" class="btn btn-primary">Administrar Materias Correlativas</a></p>

<p><a href="@Url.Action("Index", "ManageRoles")" class="btn btn-primary">Administrar Roles</a></p>

<p><a href="@Url.Action("ListaDeInscriptos", "Estudiantes")" class="btn btn-primary">Lista De Inscriptos</a></p>

