@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>


<style>
    input {
        min-width: 100%;
    }
</style>

@{
    ViewBag.Title = "Administrador de roles";
    string result = ViewBag.ResultMessage;
}



<h2>Creación y listado de roles</h2>
<a href="@Url.Action("UsersRoles", "ManageRoles")" title="Assign Role">Asignar roles</a>
<hr />

@*@if (!String.IsNullOrEmpty(result))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-primary" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Rol Creado.</strong> Role <strong>@result</strong> has been succesfully created. To assign it you must go to <a href="@Url.Action("UsersRoles", "ManageRoles")" class="alert-link">this page</a>
    </div>
}*@

<div class="row">

    <div class="col-sm-12 col-md-5">
        <h3>Crear Rol</h3>
        @using (Html.BeginForm("CreateRole", "ManageRoles", FormMethod.Post, new { @role = "form" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label for="RoleName">Nombre del Rol</label>
                <input class="form-control" type="text" id="RoleName" name="RoleName" minlength="3" required />
            </div>

            <button class="btn btn-block btn-primary" type="submit">@*<span class="glyphicon glyphicon-floppy-save"></span>*@ Crear Rol</button>
        }
    </div>

    <div class="col-sm-12 col-md-5 col-md-offset-2">
        <h3>Listado de roles</h3>
        <div class="list-group">
            @foreach (var role in Model)
            {
                <div class="list-group-item">
                    <h4>@role.Name <a href="@Url.Action("DeleteRole","ManageRoles", new { roleName = role.Name})" class="btn" title="Delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></h4>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('form').validate();
    </script>
}