@model Inscripcion_Universidad.Models.ViewModels.UserRolesViewData



@{
    ViewBag.Title = "Roles por usuario";
}

@functions{
    string seteaColorLabel(string rol)
    {
        switch (rol.ToLower().Trim())
        {
            case "administrador":
                return "label-success";
            case "administrator":
                return "label-success";
            case "notificado":
                return "label-warning";
            default:
                return "label-default";
        }
    }
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <h3>@ViewBag.Title</h3>
        <a href="@Url.Action("CreateRole", "ManageRoles")" title="List & Create Roles">Lista y crecion de roles</a>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="list-group">
            @foreach (var item in Model.RolesByUser)
            {
                <a href="@Url.Action("AssignUserRoles", "ManageRoles", new { userName = @item.UserName })" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        @item.UserName
                    </h4>
                    <p class="list-group-item-text bloque-labels-roles">
                        @foreach (var role in item.RolesUser.OrderBy(r => r.RoleName))
                        {
                            if (role.HasRole)
                            {
                                <span class="label @seteaColorLabel(role.RoleName)">@role.RoleName</span>
                            }
                        }
                    </p>
                    <p class="list-group-item-text"><small>Click para administar el rol</small></p>
                </a>
            }
        </div>
    </div>
</div>

<style>
    .bloque-labels-roles {
        margin-bottom: 5px;
        font-size: 15px;
    }
</style>

<script>
    $(function () {
        var notify = function () {
            var modelJSON = @Html.Raw(Json.Encode(Model));
            console.log("Json Model from UsersRoles ===>" + modelJSON);
        };
    });
</script>